<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="connection.datasource">java:/OracleDS</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.jdbc.batch_size">100</property>
    <property name="hibernate.jdbc.fetch_size">100</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping resource="br/com/giex/hibernate/TbCredorXml.hbm.xml"/>
    <mapping resource="br/com/giex/hibernate/TbCredor.hbm.xml"/>
    <mapping resource="br/com/giex/hibernate/TbCredorLogProcessamento.hbm.xml"/>
    <mapping resource="br/com/giex/hibernate/TbCredorLoteProcessamento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
